<!-- <app-model-loader></app-model-loader> -->
<nav class="navbar navbar-dark bg-custom p-2">
  <span class="navbar-brand mb-0 h1 ml-4">Configure: </span>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)]="extraTyres" (change)="addExtras()">
    <label class="form-check-label" for="inlineCheckbox1">Extra Tyres</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" [(ngModel)]="frontLoader" (change)="addExtras()">
    <label class="form-check-label" for="inlineCheckbox2">Front Loader</label>
  </div>
  <div class="form-check form-check-inline mr-5">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="extraLights" (change)="addExtras()">
    <label class="form-check-label" for="inlineCheckbox3">Extra Lights</label>
  </div>
</nav>
<div class="row" >
  <app-model-loader [extras]="extras"></app-model-loader>
</div>
<!-- Random comment -->
