.bg-custom{
  background-color: rgb(228,0,43);
  color: white !important;
}
.navbar-brand{
  font-size: xx-large;
  font-weight: 900;
}
.bg-sidenav{
  background-color: rgb(228, 228, 228);
  height: 100%;
}
.form-check-input{
  width: 1.5rem;
  height: 1.5rem;
}
.form-check-label{
  font-size: x-large;
  font-weight: 500;
}